.homePage {
	width: 100%;
	gap: 2rem;
}

.homePage hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--border-color);
	margin: 0;
	padding: 0;
}

/* CSS 변수로 반응형 적용 */
@media (max-width: var(--breakpoint-mobile)) {
	.homePage {
		padding: 0 1rem;
	}
}
